<main class="main user">
    {{{toChatsLink}}}
    <div class="user__container">
        <div class="user__logo">
            {{#if userLogo}}
                <img src="{{userLogo}}" alt="logo">
            {{/if}}
        </div>
        <h1 class="user__name">{{ userName }}</h1>

        <ul class="user__details">
            {{{ userDetails }}}
        </ul>

        <ul class="user__btns">
            {{{ userButtons }}}
        </ul>
    </div>
</main>
